@model List<TeaShopApi.WebUI.Dtos.TestimonialDto.ResultTestimonialDto>


<div class="clients_section layout_padding">
    <div id="custum_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <h1 class="clients_taital">Referanslarımız</h1>
                    <p class="clients_text">
                        Potential Clients are pouring our website on a daily basis after we use
                        Organic Visit, really recommended their great job!
                    </p>
                    <div class="client_img"><img src="~/teab-1.0.0/images/client-img.png"></div>
                    <h1 class="louis_text">İnsan Kaynakları</h1>
                    <h1 class="smyth_text">Adem Yıldıırm</h1>
                    <div class="border"></div>
                </div>
            </div>

        </div>
        <a class="carousel-control-prev" href="#custum_slider" role="button" data-slide="next">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#custum_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
