
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_DefaultHeadComponentPartial")

<body>

    <div class="header_section">
        @await Component.InvokeAsync("_DefaulNavbarComponentPartial")

        @await Component.InvokeAsync("_DefaultBannerComponentPartial")

    </div>

    @await Component.InvokeAsync("_DefaultAboutComponentPartial")

    @await Component.InvokeAsync("_DefaultBookingComponentPartial")

    @await Component.InvokeAsync("_DefaultDrinkListComponentPartial")

    @await Component.InvokeAsync("_DefaultChooseComponentPartial")

    @await Component.InvokeAsync("_DefaultShopComponentPartial")

    @await Component.InvokeAsync("_DefaultFreguentlyQuestionComponentPartial")

    @await Component.InvokeAsync("_DefaultTestimonialComponentPartial")

    @await Html.PartialAsync("_MessagePartial")

    @await Component.InvokeAsync("_DefaultFooterComponentPartial")

    @await Component.InvokeAsync("_DefaultScriptComponentPartial")
</body>

</html>
