<div class="col-xl-6 col-md-12">
    <div class="card latest-update-card">
        <div class="card-header">
            <h5>Latest Updates</h5>
            <div class="card-header-right">
                <div class="btn-group card-option">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="feather icon-more-horizontal"></i>
                    </button>
                    <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                        <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                        <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                        <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                        <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="latest-update-box">
                <div class="row p-t-30 p-b-30">
                    <div class="col-auto text-right update-meta">
                        <p class="text-muted m-b-0 d-inline-flex">2 hrs ago</p>
                        <i class="feather icon-twitter bg-twitter update-icon"></i>
                    </div>
                    <div class="col">
                        <a href="#!">
                            <h6>+ 1652 Followers</h6>
                        </a>
                        <p class="text-muted m-b-0">You’re getting more and more followers, keep it up!</p>
                    </div>
                </div>
                <div class="row p-b-30">
                    <div class="col-auto text-right update-meta">
                        <p class="text-muted m-b-0 d-inline-flex">4 hrs ago</p>
                        <i class="feather icon-briefcase bg-c-red update-icon"></i>
                    </div>
                    <div class="col">
                        <a href="#!">
                            <h6>+ 5 New Products were added!</h6>
                        </a>
                        <p class="text-muted m-b-0">Congratulations!</p>
                    </div>
                </div>
                <div class="row p-b-0">
                    <div class="col-auto text-right update-meta">
                        <p class="text-muted m-b-0 d-inline-flex">2 day ago</p>
                        <i class="feather icon-facebook bg-facebook update-icon"></i>
                    </div>
                    <div class="col">
                        <a href="#!">
                            <h6>+1 Friend Requests</h6>
                        </a>
                        <p class="text-muted m-b-10">This is great, keep it up!</p>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tr>
                                    <td class="b-none">
                                        <a href="#!" class="align-middle">
                                            <img src="assets/images/user/avatar-2.jpg" alt="user image" class="img-radius wid-40 align-top m-r-15">
                                            <div class="d-inline-block">
                                                <h6>Jeny William</h6>
                                                <p class="text-muted m-b-0">Graphic Designer</p>
                                            </div>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="#!" class="b-b-primary text-primary">View all Projects</a>
            </div>
        </div>
    </div>
</div>