@model List<TeaShopApi.WebUI.Dtos.MessageDto.ResultMessageDto>
<div class="col-lg-8 col-md-12">
    <div class="card table-card review-card">
        <div class="card-header borderless ">
            <h5>Müşteri yorumları</h5>
            <div class="card-header-right">
                <div class="btn-group card-option">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="feather icon-more-horizontal"></i>
                    </button>
                   
                </div>
            </div>
        </div>
        <div class="card-body pb-0">
            <div class="review-block">
                @foreach (var item in Model)
                {
                    <div class="row">
                        <div class="col-sm-auto p-r-0">
                            <img src="assets/images/user/avatar-2.jpg" alt="user image" class="img-radius profile-img cust-img m-b-15">
                        </div>
                        <div class="col">
                            <h6 class="m-b-15">@item.MessageSenderName <span class="float-right f-13 text-muted"> a week ago</span></h6>
                            <a href="#!"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
                            <a href="#!"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
                            <a href="#!"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
                            <a href="#!"><i class="feather icon-star f-18 text-muted"></i></a>
                            <a href="#!"><i class="feather icon-star f-18 text-muted"></i></a>
                            <p class="m-t-15 m-b-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            <a href="#!" class="m-r-30 text-muted"><i class="feather icon-thumbs-up m-r-15"></i>Helpful?</a>
                            <a href="#!"><i class="feather icon-heart-on text-c-red m-r-15"></i></a>
                            <a href="#!"><i class="feather icon-edit text-muted"></i></a>
                        </div>
                    </div>
                }                       
            </div>
        </div>
    </div>
</div>