
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_DefaultHeadComponentPartial")

<body>

    <div class="header_section">
        @await Component.InvokeAsync("_DefaulNavbarComponentPartial")
    </div>

    @await Component.InvokeAsync("_DefaultAboutComponentPartial")

    @await Component.InvokeAsync("_DefaultFooterComponentPartial")

    @await Component.InvokeAsync("_DefaultScriptComponentPartial")
</body>

</html>
