<div class="footer_section layout_padding">
    <div class="container">
        <div class="newsletter_section">
            <div class="newsletter_left">
                <div class="footer_logo"><img src="~/teab-1.0.0/images/footer-logo.png"></div>
            </div>
            <div class="newsletter_right">
                <h5 class="newsletter_taital">Subscribe Newsletter</h5>
                <div class="subscribe_main">
                    <input type="text" class="mail_text" placeholder="Enter your email" name="text">
                    <div class="subscribe_bt"><a href="#">Subscribe</a></div>
                </div>
            </div>
        </div>
        <div class="footer_taital_main">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <h2 class="useful_text">Hakkımızda</h2>
                    <p class="ipsum_text">
                        Firmamız, sektördeki 20 yıllık deneyimiyle müşterilerimize en kaliteli
                        ürün ve hizmeti sunmaktadır.
                    </p>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h2 class="useful_text">Menü</h2>
                    <div class="footer_links">
                        <ul>
                            <li><a href="index.html">Ana Sayfa</a></li>
                            <li><a href="about.html">Hakkımızda</a></li>
                            <li><a href="services.html">Servis</a></li>
                            <li><a href="pricing.html">Fiyatlandırma</a></li>
                            <li><a href="contact.html">iletişim</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h2 class="useful_text">Bağlantılarımız</h2>
                    <div class="footer_links">
                        <ul>
                            <li><a href="#">Adipiscing</a></li>
                            <li><a href="#">Elit, sed do</a></li>
                            <li><a href="#">Eiusmod </a></li>
                            <li><a href="#">Tempor </a></li>
                            <li><a href="#">incididunt</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h2 class="useful_text">iletişim</h2>
                    <div class="addres_link">
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="~/teab-1.0.0/images/map-icon.png"><span class="padding_left_10">
                                        No.123 Chalingt
                                        Gates
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/teab-1.0.0/images/call-icon.png"><span class="padding_left_10">
                                        +01
                                        1234567890
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/teab-1.0.0/images/mail-icon.png"><span class="padding_left_10">demo@gmail.com</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <h1 class="follow_text">Sosyal Medya</h1>
            <div class="social_icon">
                <ul>
                    <li><a href="#"><img src="~/teab-1.0.0/images/fb-icon.png"></a></li>
                    <li><a href="#"><img src="~/teab-1.0.0/images/twitter-icon.png"></a></li>
                    <li><a href="#"><img src="~/teab-1.0.0/images/linkedin-icon.png"></a></li>
                    <li><a href="#"><img src="~/teab-1.0.0/images/instagram-icon.png"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="copyright_section">
    <div class="container">
        <p class="copyright_text">
            Copyright 2019 All Right Reserved By.<a href="https://html.design">
                Free html
                Templates
            </a> Distributed by. <a href="https://themewagon.com">ThemeWagon</a>
        </p>
        </p>
    </div>
</div>
